<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SimpleLogParserDataSource" connectionString="Server=localhost;Database=SimpleLogParser;User Id=logparse;Password=logparse;"/>
  </connectionStrings>
  <appSettings>
    <!-- turn on log4net -->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    
    <add key="WatchDirectory" value="C:\logs"/>
    <add key="IncludeSubdirectories" value="false"/>
    <add key="FromEmail" value="logalert@hross.net" />
    <add key="AdminEmail" value="rbrodbeck" />
    <add key="SubscriberSuffix" value="@hross.net"/>
    <add key="IntervalMinutes" value="30"/>
    <add key="SMTPServer" value="localhost"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>